# Spencer H. Bryngelson (sbryngelson) is the
# default owner of all files in the repository.
*                  @sbryngelson

# Henry Le Berre (henryleberre) and Ben Wilfong (wilfonba)
src/               @sbryngelson @henryleberre @wilfonba
docs/              @sbryngelson @henryleberre @wilfonba
toolchain/         @sbryngelson @henryleberre @wilfonba
tests/             @sbryngelson @henryleberre @wilfonba
mfc.sh             @sbryngelson @henryleberre @wilfonba
CMakeLists.txt     @sbryngelson @henryleberre @wilfonba
