/build/
.vscode/
src/*/include/case.fpp
src/*/autogen/

*.swo
*.swp

*:Zone.Identifier

.nfs*

__pycache__

*.egg-info

.DS_Store

/tests/**/*.log
/tests/*.txt
/tests/*/**
!/tests/golden.txt

# NVIDIA Nsight Compute
*.nsys-rep
*.sqlite

examples/*batch/*/
examples/*/D/*
examples/*/p*
examples/*/D_*
examples/*/*.inf
examples/*/*.inp
examples/*/*.dat
examples/*/*.o*
examples/*/silo*
examples/*/restart_data*
examples/*/*.out
examples/*/binary
examples/*/fort.1
examples/*/*.sh
examples/*/*.err
examples/*/workloads/*
*.mod
