tags
.mfc/
venv/
src/*/tags

__pycache__

src/*/*.mod
src/*/*.o
src/pre_process_code/pre_process
src/simulation_code/simulation
src/post_process_code/post_process
src/master_scripts/*.pyc
src/master_scripts/__*
make_doc.sh
cases/
.DS_Store
tests/*/D/*
tests/*/p*
tests/*/D_*
tests/*/*.inp
tests/*/*.inf
tests/*/*.dat
tests/*/silo*
tests/*/restart*
tests/*/*.out
tests/*/binary

samples/*batch/*/
samples/*/D/*
samples/*/p*
samples/*/D_*
samples/*/*.inf
samples/*/*.inp
samples/*/*.dat
samples/*/*.o*
samples/*/silo*
samples/*/restart*
samples/*/*.out
samples/*/binary

doc/*/MFC_user_guide.bbl
doc/*/MFC_user_guide.blg
doc/*/MFC_user_guide.aux
doc/*/MFC_user_guide.toc
doc/*/MFC_user_guide.fls
doc/*/MFC_user_guide.synctex.gz
doc/*/MFC_user_guide.log
doc/*/MFC_user_guide.fdb_latexmk

doc/Doxygen/*/html
doc/Doxygen/*icon*
