name: 'Benchmark'

on: pull_request

jobs:
  self:
    name: Georgia Tech | Phoenix (NVHPC)
    if: github.repository == 'MFlowCode/MFC'
    strategy:
      matrix:
        device: ['cpu', 'gpu']
    runs-on:
      group:  phoenix
      labels: gt
    steps:
      - name: Clone - PR
        uses: actions/checkout@v3
        with:
          path: pr

      - name: Clone - Master
        uses: actions/checkout@v3
        with:
          repository: MFlowCode/MFC
          ref: master
          path: master

      - name: Bench (Master v. PR)
        run: |
          (cd pr     && bash .github/workflows/phoenix/submit.sh .github/workflows/phoenix/bench.sh ${{ matrix.device }}) &
          (cd master && bash .github/workflows/phoenix/submit.sh .github/workflows/phoenix/bench.sh ${{ matrix.device }}) &
          wait %1 && wait %2

      - name: Generate & Post Comment
        run: |
          . ./mfc.sh load -c p -m g
          ./mfc.sh bench_diff master/bench-${{ matrix.device }}.yaml pr/bench-${{ matrix.device }}.yaml

      - name: Archive Logs
        uses: actions/upload-artifact@v3
        if:   always()
        with:
          name: logs-${{ matrix.device }}
          path: |
            pr/bench-${{ matrix.device }}.*
            pr/build/benchmarks/*
            master/bench-${{ matrix.device }}.*
            master/build/benchmarks/*
