name: Coverage Check

on: [push, pull_request, workflow_dispatch]

jobs:
  run:
    name: Coverage Test on CodeCov
    runs-on: "ubuntu-latest"
    steps:
      - name: Setup Ubuntu
        run: |
            sudo apt update -y
            sudo apt install -y tar wget make cmake gcc g++ python3 python3-dev "openmpi-*" libopenmpi-dev
          
      - name: Checkouts
        uses: actions/checkout@v4

      - name: Filter
        uses: dorny/paths-filter@v3
        id: changes
        with: 
          filters: "../file-filter.yml"
          list-files: shell
        
      - name: Build
        run: /bin/bash mfc.sh build -j $(nproc) --gcov

      - name: Test
        run: /bin/bash mfc.sh test -a -j $(nproc)

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}