name: Lint Source Code

on: [push, pull_request, workflow_dispatch]

jobs:
  lint:
    name: Lint Source Code
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Fortitude
      run: pip install fortitude-lint ansi2txt

    - name: Lint the source code
      run:  fortitude check --ignore=E001,S001,S101,M011,F001,S041,T001 ./src/*/* &> lint.txt || true

    - name: Print output to step
      run: cat lint.txt
      
    - name: Output Summary
      run:  cat lint.txt | ansi2txt > lint2.txt
            cat lint2.txt << EOF > $GITHUB_STEP_SUMMARY
