name: Lint Toolchain

on: [push, pull_request, workflow_dispatch]

jobs:
  lint-toolchain:
    name:    Lint Toolchain
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'

    - name: MFC Python setup
      run: ./mfc.sh init

    - name: Lint the toolchain
      run: ./mfc.sh lint
