name: Lint Source

on: [push, pull_request, workflow_dispatch]

jobs:
  file-changes:
    name: Detect File Changes
    runs-on: 'ubuntu-latest'
    outputs: 
      checkall: ${{ steps.changes.outputs.checkall }}
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Detect Changes
        uses: dorny/paths-filter@v3
        id: changes
        with: 
          filters: ".github/file-filter.yml"

  lint-source:
    name: Lint Source
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v4

    - name: Initialize MFC
      run: ./mfc.sh init

    - name: Looking for raw directives
      run: |
        ! grep -iR '!\$acc\|!\$omp' --exclude="parallel_macros.fpp" --exclude="syscheck.fpp" ./src/*
        
    - name: No double precision intrinsics
      run: |
        ! grep -iR 'double_precision\|dsqrt\|dexp\|dlog\|dble\|dabs\|double\ precision\|real(8)\|real(4)\|dprod\|dmin\|dmax\|dfloat\|dreal\|dcos\|dsin\|dtan\|dsign\|dtanh\|dsinh\|dcosh\|d0' --exclude-dir=syscheck --exclude="*nvtx*" --exclude="*precision_select*" ./src/*

    - name: Looking for junk code
      run: |
        ! grep -iR -e '\.\.\.' -e '\-\-\-' -e '===' ./src/*

    - name: Looking for false integers
      run: |
        ! grep -onRP '(?<![0-9.eE\-])\b[0-9]*_wp\b' src/

    - name: Looking for junk comments in examples
      run: |
        ! grep -R '# ===' ./benchmarks **/*.py
        ! grep -R '# ===' ./examples/**/*.py
        ! grep -R '==='   ./benchmarks/**/*.py
        ! grep -R '==='   ./examples/**/*.py

