name: 'Test Suite'

on: [push, pull_request, workflow_dispatch]
    
jobs:
  file-changes:
    name: Detect File Changes
    runs-on: 'ubuntu-latest'
    outputs: 
      checkall: ${{ steps.changes.outputs.checkall }}
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Detect Changes
        uses: dorny/paths-filter@v3
        id: changes
        with: 
          filters: ".github/file-filter.yml"

  self:
    name: "${{ matrix.cluster_name }} (${{ matrix.device }}${{ matrix.interface != 'none' && format('-{0}', matrix.interface) || '' }})"
    if: github.repository == 'MFlowCode/MFC' && needs.file-changes.outputs.checkall == 'true'
    needs: file-changes
    continue-on-error: false
    timeout-minutes: 480
    strategy:
      matrix:
        include:
          - lbl: 'delta'
            cluster_name: 'NCSA | Delta'
            device: 'cpu'
            interface: 'none'
    runs-on:
      group:  phoenix
      labels: ${{ matrix.lbl }}
    env:
      NODE_OPTIONS: ${{ matrix.lbl == 'gt' && '--max-old-space-size=2048' || '' }}
      ACTIONS_RUNNER_FORCE_ACTIONS_NODE_VERSION: node16
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Build & Test
        if:   matrix.lbl == 'gt'
        run:  bash .github/workflows/phoenix/submit.sh .github/workflows/phoenix/test.sh ${{ matrix.device }} ${{ matrix.interface }}

      - name: Build & Test
        if:   matrix.lbl == 'delta'
        run:  bash .github/workflows/delta/submit.sh .github/workflows/delta/test.sh ${{ matrix.device }} ${{ matrix.interface }}

      - name: Build
        if:   matrix.lbl == 'frontier'
        run:  bash .github/workflows/frontier/build.sh ${{ matrix.device }} ${{ matrix.interface }}

      - name: Test
        if:   matrix.lbl == 'frontier'
        run:  bash .github/workflows/frontier/submit.sh .github/workflows/frontier/test.sh ${{matrix.device}} ${{ matrix.interface }}

      - name: Print Logs
        if:   always()
        run:  cat test-${{ matrix.device }}-${{ matrix.interface }}.out

      - name: Archive Logs
        uses: actions/upload-artifact@v4
        if:   matrix.lbl == 'frontier'
        with:
          name: logs-${{ strategy.job-index }}-${{ matrix.device }}-${{ matrix.interface }}
          path: test-${{ matrix.device }}-${{ matrix.interface }}.out
